* {
	box-sizing: border-box;
}
body {
	background-color: aquamarine;
	padding: 10px;
}
.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 900px;
	background-color: aliceblue;
	padding: 20px;
}

p {
  margin: 0 auto;
  padding: 20px;
}
.comment-btn {
  padding: 5px;
  font-size: 16px;
	border: none;
	border-radius: 5px;
  background-color: aquamarine;
	transition-duration: 0.6s;
}
.comment-btn:hover {
  color: antiquewhite;
  border: 1px solid lightgray;
}
.buttons {
	position: absolute;
	bottom: 0;
	right: 20px;
}
.buttons button {
	padding: 0;
	background-color: transparent;
	border: none;
}
.buttons button i {
	font-size: 20px;
	margin-right: 5px;
	transition-duration: 0.6s;
}
.buttons button i:hover {
	color: aquamarine;
}
.votes {
	position: absolute;
	right: 7px;
	bottom: 2px;
}
ul {
	list-style-type: none;
	padding: 0;
	width: 100%;
}
li {
	padding: 10px 10px 25px 10px;
	background-color: aliceblue;
	position: relative;
  border-radius: 5px;
  border: 2px solid lightgrey;
  margin-bottom: 10px;
  text-align: left;
}