* {
	box-sizing: border-box;
}
body {
	background-color: aquamarine;
	padding: 10px;
}
.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 900px;
	background-color: aliceblue;
	padding: 20px;
}

p {
  margin: 0 auto;
  padding: 20px;
}

.input {
  font-size: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid lightgray;
  width: 95%;
  padding-left: 5px;
}
.comment-btn {
  font-size: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: aquamarine;
  transition-duration: 0.6s;
  border: 2px solid lightgrey;
}
.comment-btn:hover {
  color: antiquewhite;
}
.buttons {
	position: absolute;
	bottom: 0;
	right: 20px;
}
.buttons button {
	padding: 0;
	background-color: transparent;
	border: none;
}
.buttons button i {
	font-size: 20px;
	margin-right: 5px;
	transition-duration: 0.6s;
}
.buttons button i:hover {
	color: aquamarine;
}
.votes {
	position: absolute;
	right: 7px;
	bottom: 2px;
}
ul {
	list-style-type: none;
	padding: 0;
	width: 100%;
}
li {
	padding: 5px;
	background-color: aliceblue;
	position: relative;
  border-radius: 5px;
  border: 2px solid lightgrey;
  margin-bottom: 10px;
  text-align: left;
}